<div *ngIf="(checkout$ | async) as checkout">
  <mat-card>
    <mat-card-title [routerLink]="['/books', checkout.borrowedBook.id]">{{checkout.borrowedBook.title}}</mat-card-title>
    <mat-card-content>Borrowed by: {{checkout.borrowerFirstName}} {{checkout.borrowerLastName}}</mat-card-content>
    <mat-card-content>Checked out: {{checkout.checkedOutDate}}</mat-card-content>
    <mat-card-content>Due: {{checkout.dueDate}}</mat-card-content>
    <mat-card-content>Status:</mat-card-content>
    <h1 style="color: {{statusColor}};">{{status}}</h1>
    <mat-card-actions>
      <button *ngIf="this.currentUser!.role === 'Librarian'" (click)="openRemoveDialog(checkout)" mat-button>REMOVE</button>
      <button *ngIf="status.slice(0, 8) != 'RETURNED' && isUserCheckout" (click)="openReturnDialog(checkout)" mat-button>RETURN</button>
    </mat-card-actions>
  </mat-card>
</div>
