<div *ngIf="(checkout$ | async) as checkout">
  <mat-card>
    <mat-card-title [routerLink]="['/books', checkout.borrowedBook.id]">{{checkout.borrowedBook.title}}</mat-card-title>
    <mat-card-content>Borrowed by: {{checkout.borrowerFirstName}} {{checkout.borrowerLastName}}</mat-card-content>
    <mat-card-content>Checked out: {{checkout.checkedOutDate}}</mat-card-content>
    <mat-card-content>Due: {{checkout.dueDate}}</mat-card-content>
    <mat-card-content *ngIf="checkout.returnedDate">Returned: {{checkout.returnedDate}}</mat-card-content>
    <mat-card-actions>
      <button (click)="removeCheckout(checkout)" mat-button>REMOVE</button>
      <button *ngIf="!checkout.returnedDate" (click)="returnBook(checkout)" mat-button>RETURN</button>
    </mat-card-actions>
  </mat-card>
</div>
