.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  height: 50px;
  flex-grow: 1;
  text-align: center;
}
