<div class="form-fields-container">
  <div class="form-field-wrapper">
    <mat-form-field class="search-field">
      <input type="text" matInput placeholder="Search" [(ngModel)]="searchValue" (input)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="form-field-wrapper">
    <mat-form-field class="select-field">
      <mat-label>Filter by status</mat-label>
      <mat-select (selectionChange)="optionSelectChange($event)">
        <mat-option>ALL</mat-option>
        <ng-container *ngIf="searchType==='books'" >
          <mat-option *ngFor="let status of bookStatuses" [value]="status">
            {{status}}
          </mat-option>
        </ng-container>
        <ng-container *ngIf="searchType==='checkouts'" >
          <mat-option *ngFor="let status of checkoutStatuses" [value]="status">
            {{status}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>
