<h2 mat-dialog-title>Please fill this form to check out "{{data.title}}" by {{data.author}}</h2>
<div mat-dialog-content>
  <form #checkoutForm="ngForm">
    <mat-form-field>
      <input matInput name="firstName" placeholder="First Name" required [(ngModel)]="firstName" [disabled]="currentUser!.role === 'Reader'">
      <mat-error *ngIf="firstName==''">First name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="lastName" placeholder="Last Name" required [(ngModel)]="lastName" [disabled]="currentUser!.role === 'Reader'">
      <mat-error *ngIf="lastName==''">Last name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label style="color:black;">Select due date</mat-label>
      <input matInput disabled
             style="color: black;"
             name="dueDate"
             [min]="minDate"
             [max]="maxDate"
             [matDatepicker]="picker"
             placeholder="Choose a due date"
             [(ngModel)]="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div class="actionDiv" mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog(false)">Cancel</button>
  <button mat-button color="primary" (click)="submitForm()">Confirm</button>
</div>
